header {
	font-family: Impact;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 50.4px;
}

nav {
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: black;

}

.navButtons {
	left: 100px;
	background-color: transparent;
	border: 0px;
	font-size: 20px;
	color: #ABABAB;
	outline: 0px;
	font-family: Copperplate;
} 

.navButtons:hover {
	color: white;
}

#bodyDiv {

	height: 1000px;
	width: 100%;
	background-color: ye
}

body {
	margin: 0px;
}
